@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Nunito+Sans:wght@400;700&display=swap');

body {
    background-color: lightblue;
  }

.homebutton {
    width: auto;
    height: auto;
    display: block;
    padding-top:3em;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align:center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.responsive {
    width: 70%;
    height: auto;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.responsivetwo {
    width: 100%;
    height: auto;
    color: black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5em;
}

a:link {
    font-family:'Nunito Sans', sans-serif;
    text-align: center;
    color: black;
    width: 70%;
    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    display:block;
    width:70%;
    line-height: 1.5;
    height:auto;
    margin-left: auto;
    margin-right:auto;
}
.strong {
    font-weight: bold;
}
h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    display:block;
    width:70%;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
}

#category {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 1em;
        display: inline-block;
        width:70%;
        line-height: 2em;
        margin-top:-4%;
        margin-left:-4%;
        margin-right:auto;
}

ul {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    display:block;
    width:65%;
    margin:1.5em;
    line-height:1.75;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
}

ol {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    display:block;
    width:65%;
    margin:1.5em;
    line-height:1.75;
    height:auto;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 3em;
}
li {
    margin-bottom:1em;
    padding-bottom: .5em;
}